@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #0a0a0a;
  --background-hex: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: #fff;
    --background-hex: #0a0a0a;
  }
}

body {
  color: var(--foreground-hex);
  background: var(--background-hex);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
